body {
    color: white;
    background-color: black ;
}

p{
    font-weight: bold;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
    color:blueviolet;
    border: 1px white;
    background: white;
    padding: 10 px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}